{%- set line_width = 80 -%}
{{ "*" * line_width }}
GitSnitch report
{{ "*" * line_width }}
{%- for violation in report.violation_banners -%}
{%- set assertion_alias = violation.assertion_alias %}
{{ violation.code -}}{{- ' ' -}}
{% if violation.text and violation.text | trim | length > 0 -%}{{ violation.text | trim }}{%- endif %}
{% if violation.hint and violation.hint | trim | length > 0 -%}{{ violation.hint | trim }}{%- endif %}
Commits
  {%- for v in report.violations[violation.severity_band] if v.assertion_alias == assertion_alias %}
  - {{ v.commit_sha_short }}
  {%- endfor %}
{%- if not loop.last %}{{ '\n' }}{{ " -" * (line_width / 2) }}{% endif -%}
{%- endfor %}
{{ "-" * line_width }}
